@import "compass/css3"
@import "site-settings"
@import "mixins"
@import "breakpoint"

.js .about
  position: absolute
  +rem(height, 308px)
  background: #BB5400
  width: 100%
  top: 0
  left: 0
  color: white
  z-index: 2

.js .about a 
  color: inherit
  text-decoration: underline

.js .about-details
  opacity: 1
  +transition-property(opacity)
  +transition-duration(0.5s)
  
.js .about-details
  max-width: 30em
  margin: 0 auto
  opacity: 0

.is-top-gutter-shown .about-details
  opacity: 1

.about-name
  +rem(font-size, 35px)
  +rem(line-height, 40px)
  +rem(margin-top, 30px)
  +rem(margin-bottom, 15px)
  max-width: 10em
  font-family: adelle
  font-weight: 400
  font-style: normal
  +breakpoint($medium-width)
    +rem(font-size, 43px)
    +rem(line-height, 50px)
    +rem(margin-top, 30px)
  
.about-title
  +rem(font-size, 22px)
  +rem(line-height, 25px)
  +rem(margin-top, -10px)
  +rem(margin-bottom, 25px)
  max-width: 10em
  font-family: adelle-sans
  font-weight: 400
  font-style: normal
  color: rgba(255,255,255,0.7)
  +breakpoint($medium-width)
    +rem(font-size, 30px)
    +rem(line-height, 32px)

.about .fa //icon
  +rem(font-size, 25px)
  +rem(padding-left, 10px)
  
.about-separator
  +rem(padding, 0 5px)
  
.js .about-links
  color: rgba(255,255,255,0.7)
  
.js .about-links a 
  text-decoration: none
  
.js .about-links a:hover
  color: rgba(255,255,255,1)