@import "compass/css3"
@import "site-settings"
@import "mixins"
@import "breakpoint"
@import "compass/utilities/general/clearfix"

.js .about
  position: absolute
  +rem(font-size, 14px)
  +rem(line-height, 18px)
  +rem(height, 308px)
  background: #BB5400
  width: 100%
  top: 0
  left: 0
  color: white
  z-index: 2
  overflow: hidden
  +breakpoint(min-width $medium-width)
    +rem(font-size, 16px)
    +rem(line-height, 25px)

.js
  +rem(padding-top, 300px)

.js .about a
  color: inherit
  text-decoration: underline

.js .about-details
  opacity: 1
  +transition-property(opacity)
  +transition-duration(0.5s)

.js .about-details
  max-width: 30em
  margin: 0 auto
  opacity: 0

.is-home .about-details
  opacity: 1

.is-not-home .about-details
  opacity: 0

.is-top-gutter-shown .about-details
  opacity: 1

.about-name
  +rem(font-size, 18px)
  +rem(line-height, 22px)
  +rem(margin-top, 20px)
  +rem(margin-bottom, 15px)
  font-family: $font-secondary
  font-weight: 400
  font-style: normal
  +breakpoint(min-width $medium-width)
    +rem(font-size, 28px)
    +rem(line-height, 35px)
    +rem(margin-top, 30px)


.js .about-links, .js .about-signature
  +clearfix
  color: rgba(255,255,255,0.7)
  +rem(font-size, 14px)
  +rem(line-height, 18px)
  +breakpoint(min-width $medium-width)
    +rem(font-size, 16px)
    +rem(line-height, 25px)

.js .about-links
  +rem(margin-top, -3px)

.js .about-links-home
  float: left
  display: inline-block
  .fa //icon
    +rem(padding-right, 2px)

.js .about-links-alt-lang
  float: right
  display: inline-block
  .fa //icon
    +rem(padding-left, 5px)

.js .about-signature-follow
  margin: 0
  white-space: nowrap
  display: inline-block
  +rem(margin-top, 5px)
  +breakpoint(min-width $medium-width)
    +rem(margin-top, 0)

.js .about-signature-name
  +rem(padding-right, 10px)

.js .about-signature
  +rem(margin-top, -3px)
  +breakpoint(min-width $medium-width)
    +rem(padding-top, 5px)
    +rem(margin-top, -5px)

.about-signature-follow .fa //icon
  +rem(font-size, 25px)
  +rem(padding-right, 10px)

.js .about-links a, .js .about-signature a
  text-decoration: none

.js .about-links a:hover, .js .about-signature a:hover
  color: rgba(255,255,255,1)

.js .about, .is-home .about
  .btn-default
    color: rgba(255,255,255,0.7)
    background-color: rgba(255,255,255,0)
    border-color: rgba(255,255,255,0.7)
    position: relative
    z-index: 10
    +rem(margin-top, 5px)
    &:hover, &:active, &:focus
      color: rgba(255,255,255,1)
      border-color: rgba(255,255,255,1)
      background-color: rgba(255,255,255,0.1)
      outline: none
    +breakpoint(min-width $medium-width)
      +rem(margin-top, -5px)

.subscribe-follow-link .fa
  +rem(margin-left, -2px)
  +rem(margin-right, 2px)

@media print
  .js.is-not-home
    padding-top: 0
  .js.is-not-home .about
    display: none
