@import "compass/css3"
@import "site-settings"
@import "mixins"
@import "breakpoint"

.blog-nav-container
  +rem(height, 200px)
  +breakpoint(min-width $medium-width)
    +rem(height, 300px)

.is-home .blog-nav-container
  +rem(height, 150px)

.blog-nav
  opacity: 1
  +transition-property(opacity)
  +transition-duration(0.5s)
  position: relative
  +rem(height, 200px)
  width: 100%
  +breakpoint(min-width $medium-width)
    +rem(height, 300px)

.is-home .blog-nav-pagination
  +rem(height, 150px)

.js .blog-nav
  opacity: 0

.is-not-top-gutter-shown .blog-nav
  opacity: 1

.is-not-home.is-top .blog-nav
  opacity: 1
  height: 100%
  position: absolute
  top: 0
  left: 0

.blog-nav-previous, .blog-nav-next
  position: absolute
  +rem(bottom, 60px)
  font-family: $font-secondary
  font-weight: 400
  color: black
  text-decoration: none
  width: 30%
  background: rgba(87,55,29,0.4)
  +rem(padding, 20px)
  +transition-property(background)
  +transition-duration(0.5s)
  z-index: 3
  +rem(font-size, 20px)
  +rem(line-height, 24px)
  +breakpoint(min-width $medium-wide-width)
    width: 25%
  
  
.is-fits-blog-nav-large
  .blog-nav-previous, .blog-nav-next
    +rem(padding, 30px)
    +rem(bottom, 100px)
    +rem(font-size, 25px)
    +rem(line-height, 30px)

.blog-nav-pagination 
  .blog-nav-previous, .blog-nav-next
    width: 15%

.blog-nav-previous:hover, .blog-nav-next:hover
  background: rgba(87,55,29,0.6)
  color: white

.blog-nav-previous:active, .blog-nav-next:active
  +transition-property(none)
  background: rgba(87,55,29,0.8)

.is-top .blog-nav-previous, .is-top .blog-nav-next
  display: none
  color: white

.is-not-home
  &.is-fits-blog-nav-simple
    &.is-top .blog-nav-previous, &.is-top .blog-nav-next
      display: block
      +rem(bottom, 15px)
  
  &.is-fits-blog-nav
    &.is-top .blog-nav-previous, &.is-top .blog-nav-next
      display: block
      +rem(bottom, 50px)
  
  &.is-fits-blog-nav-large
    &.is-top .blog-nav-previous, &.is-top .blog-nav-next
      display: block
      +rem(bottom, 80px)

.blog-nav-previous
  left: 0

.blog-nav-next
  right: 0
  text-align: right

.blog-nav-label
  font-family: $font-anchor
  text-transform: uppercase
  margin: 0
  +rem(font-size, 12px)
  +rem(line-height, 16px)

.is-fits-blog-nav-large .blog-nav-label
  +rem(font-size, 15px)
  +rem(line-height, 20px)

.blog-nav-label .separator
  display: none

.blog-nav-post-title
  font-family: $font-secondary
  font-weight: 400
  margin: 0
  display: none
  +breakpoint(min-width $medium-width)
    display: block

.blog-nav-post-title.is-long
  +rem(font-size, 15px)
  +rem(line-height, 20px)
  
.is-fits-blog-nav-large .blog-nav-post-title.is-long
  +rem(font-size, 20px)
  +rem(line-height, 24px)

.is-top .blog-nav-post-title
  display: none

.is-fits-blog-nav.is-top .blog-nav-post-title
  +breakpoint(min-width $medium-width)
    display: block

.blog-nav-pagination-summary
  font-family: $font-secondary
  +rem(padding-top, 40px)
  color: #BCAFA5
  text-align: center

.blog-nav-pagination-summary-page-indicator
  +rem(font-size, 20px)
  +rem(line-height, 25px)
  font-weight: normal
  font-style: italic
  
.blog-nav-pagination-summary-links
  display: block
  +rem(font-size, 14px)
  +rem(line-height, 18px)
  +rem(margin-top, -10px)
  +rem(margin-bottom, 20px)
  a
    color: inherit
  a:hover, a:active
    color: #BB5400

@media print
  .blog-nav-container
    display: none