@import "compass/css3"
@import "site-settings"
@import "mixins"
@import "breakpoint"
@import "compass/utilities/general/clearfix"

.is-home
  .post-separator
    border: 0
    +rem(height, 2px)
    background-color: lighten(#BCAFA5, 20%)
    width: 10%
    margin: 0 auto

  .post-separator-arrow
    +rem(width, 100px)
    +rem(height, 10px)
    +rem(margin-left, 30px)
    margin: 0 auto
  
  .post-separator-arrow-left-angle, .post-separator-arrow-right-angle
    +rem(width, 30px)
    +rem(height, 30px)
    display: inline-block
    background-color: none
    +rem(border-top-width, 2px)
    border-top-color: lighten(#BCAFA5, 20%)
    border-top-style: solid
    
    +transition-property(all)
    +transition-duration(0.3s)
    +transition-timing-function(linear)

  .post-separator-arrow-left-angle
    +rotate(15deg)
    +rem(margin-right, 6px)
    +rem(margin-bottom, -10px)
  .post-separator-arrow-right-angle
    +rotate(-15deg)
    +rem(margin-bottom, -10px)

  &.is-not-top, &.is-fits-blog-nav
    .post-separator-arrow-left-angle, .post-separator-arrow-right-angle
      +rotate(0deg)
      +rem(margin-right, 0)
      +rem(margin-bottom, 0)
