@import "compass/css3"
@import "site-settings"
@import "mixins"
@import "breakpoint"
@import "compass/utilities/general/clearfix"

.js .subscribe-follow-container
  display: none
  position: absolute
  +rem(font-size, 16px)
  +rem(line-height, 25px)
  +rem(height, 215px)
  opacity: 0
  +transition-property(opacity)
  +transition-duration(0.5s)
  z-index: 2
  width: 100%
  top: 0
  left: 0

.js .subscribe-follow
  max-width: 30em
  margin: 0 auto
  
.js.is-subscribe-follow .subscribe-follow-container
  display: block
  opacity: 1

.js .about-name, .js .about-description
  opacity: 1
  +transition-property(opacity)
  +transition-duration(0.5s)
  
.js.is-subscribe-follow
  .about-name, .about-description
    opacity: 0

.js .subscribe-follow, .js .about, .is-home .subscribe-follow, .is-home .about
  .btn-default
    color: rgba(255,255,255,0.7)
    background-color: rgba(255,255,255,0)
    border-color: rgba(255,255,255,0.7)
    +rem(margin-top, -5px)
    position: relative
    z-index: 10
    &:hover, &:active, &:focus
      color: rgba(255,255,255,1)
      border-color: rgba(255,255,255,1)
      background-color: rgba(255,255,255,0.1)
      outline: none

.subscribe-follow-link .fa
  +rem(margin-left, -2px)
  +rem(margin-right, 2px)
  
p.about-signature
  +rem(padding-top, 1px)
  
.js .subscribe-follow
  color: rgba(255,255,255,0.7)
  .subscribe-follow-title
    font-family: $font-secondary
    +rem(font-size, 20px)
    +rem(line-height, 25px)
    font-weight: normal
    font-style: italic
  a
    color: inherit
    text-decoration: none
  a:hover, a:active
    color: rgba(255,255,255,1)

.js .subscribe-follow-subscribe
  .fa
    +rem(margin-left, 5px)

.js .subscribe-follow-follow
  .fa
    +rem(font-size, 25px)
    +rem(line-height, 25px)
    +rem(margin-right, 10px)
  a:last-of-type .fa
    margin-right: 0

.js .subscribe-follow-subscribe-email-address
  background: none
  border: 1px solid
  border-color: rgba(255,255,255,0.4)
  color: rgba(255,255,255,1)
  font-family: $font-anchor
  +rem(font-size, 14px)
  +rem(padding, 3px 7px)
  +input-placeholder
    color: rgba(255,255,255,0.4)
  &:focus
    background-color: rgba(255,255,255,0.1)
    color: rgba(255,255,255,1)
    border-color: rgba(255,255,255,1)
    outline: none