@import "compass/typography/vertical_rhythm"
 
$base-font-size: 16px
$base-line-height: 5px

+establish-baseline

html
  +adjust-leading-to(5)
  font-family: adelle-sans, sans-serif
  font-weight: 400
  font-style: normal

div.intro
  font-family: adelle, serif
  +padding-leader(4)
  color: #BCAFA5