/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "normalize"

.site
  max-width: 30em
  margin: 0 auto

.js .about
  position: absolute
  height: 300px
  background: #eee
  width: 100%
  top: 0
  left: 0

.js
  padding-top: 300px