<div class="about" id="about">

  <div class="about-details">
    <h2 class="about-name">Pascal Laliberté</h2>
    <div class="about-title">Interaction designer<br /> Ottawa, Canada</div>
    
    <p>Design and greatness: those are my two main fascinations. Design is this organic process that's really about uncovering the deeper intent. So it is with unwrapping that person you're created to be.</p>
    
    <p class="about-links">
      <a href="http://twitter.com/pascallaliberte">Twitter</a> <span class="about-separator">•</span> 
      <a href="https://github.com/pascallaliberte">Github</a> <span class="about-separator">•</span>
      <a href="http://www.linkedin.com/in/pascallaliberte">LinkedIn</a> <span class="about-separator">•</span>
      <a href="http://profiles.google.com/pascal.laliberte">Google+</a>
    </p>
  </div>

</div>
