<div class="about" id="about">

  <div class="about-details">
    <h2 class="about-name">Pascal Laliberté</h2>
    <div class="about-title">Interaction designer<br /> Ottawa, Canada</div>
    
    <p>Design and personal growth: these two things fascinate me most. To me, they're both this organic, incremental process where you move closer to your deep intent. This blog is about this stuff, about usability, and about business.</p>
    
    <p class="about-links">
      <a href="http://twitter.com/pascallaliberte">Twitter</a> <span class="about-separator">•</span> 
      <a href="https://github.com/pascallaliberte">Github</a> <span class="about-separator">•</span>
      <a href="http://www.linkedin.com/in/pascallaliberte">LinkedIn</a> <span class="about-separator">•</span>
      <a href="http://profiles.google.com/pascal.laliberte">Google+</a>
    </p>
  </div>

</div>
