<div class="blog-nav-container">
  <nav class="blog-nav">
    {% if paginator.previous_page %}
    {% if paginator.previous_page > 1 %}
    <a href="/page{{ paginator.previous_page }}" class="blog-nav-previous">
      <h3 class="blog-nav-label">Previous posts</h3>
    {% else %}
    <a href="/" class="blog-nav-previous">
      <h3 class="blog-nav-label">Home</h3>
    {% endif %}
    </a> 
    {% endif %}
    {% if paginator.next_page %}
    <a href="/page{{ paginator.next_page }}" class="blog-nav-next">
      <h3 class="blog-nav-label">Next posts</h3>
    </a> 
    {% endif %}
  </nav>
</div>