<div class="subscribe-follow-container">

<div class="subscribe-follow" id="subscribe-follow">

  <div class="subscribe-follow-subscribe">
    <h2 class="subscribe-follow-title">Subscribe by email</h2>
    <form class="subscribe-follow-subscribe-email-form"
      action="https://tinyletter.com/pascallaliberte" method="post" 
      target="popupwindow"
      onsubmit="window.open('https://tinyletter.com/pascallaliberte', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
      <input class="subscribe-follow-subscribe-email-address" type="text" name="email" id="tlemail" placeholder="email address"/>
      <input type="hidden" value="1" name="embed"/>
      <input class="subscribe-follow-subscribe-email-submit btn btn-default" type="submit" value="Subscribe" />
    </form>
    
    or via 
    <a href="{{ site.baseurl}}/feed.xml" title="Atom feed">
      <i class="fa fa-rss-square"></i>
      <abbr class="abbr-acronym">RSS</abbr>
    </a>
  </div>
  
  <div class="subscribe-follow-follow">
    <h2 class="subscribe-follow-title">and find me elsewhere</h2>
    <a href="http://twitter.com/pascallaliberte" title="Twitter: @pascallaliberte">
      <i class="fa fa-twitter-square"></i>
      <span class="is-hidden">Twitter</span>
    </a> 
    <a href="https://www.facebook.com/pascallaliberte" title="Facebook: pascallaliberte">
      <i class="fa fa-facebook-square"></i>
      <span class="is-hidden">Facebook</span>
    </a> 
    <a href="https://github.com/pascallaliberte" title="Github: pascallaliberte">
      <i class="fa fa-github-square"></i>
      <span class="is-hidden">Github</span>
    </a>
    <a href="http://www.linkedin.com/in/pascallaliberte" title="LinkedIn">
      <i class="fa fa-linkedin-square"></i>
      <span class="is-hidden">LinkedIn</span>
    </a>
    <a href="https://plus.google.com/104794227710544002483/posts" title="Google+">
      <i class="fa fa-google-plus-square"></i>
      <span class="is-hidden">Google+</span>
    </a>
  </div>

</div>

</div>