<div class="subscribe-follow" id="subscribe-follow">

  <div class="subscribe-follow-subscribe">
    <a href="{{ site.baseurl}}/feed.xml" title="Atom feed">
      <i class="fa fa-rss-square"></i>
      <span class="is-hidden">RSS</span>
    </a>
  </div>
  
  <div class="subscribe-follow-follow">
    <a href="http://twitter.com/pascallaliberte" title="Twitter: @pascallaliberte">
      <i class="fa fa-twitter-square"></i>
      <span class="is-hidden">Twitter</span>
    </a> 
    <a href="https://www.facebook.com/pascallaliberte" title="Facebook: pascallaliberte">
      <i class="fa fa-facebook-square"></i>
      <span class="is-hidden">Facebook</span>
    </a> 
    <a href="https://github.com/pascallaliberte" title="Github: pascallaliberte">
      <i class="fa fa-github-square"></i>
      <span class="is-hidden">Github</span>
    </a>
    <a href="http://www.linkedin.com/in/pascallaliberte" title="LinkedIn">
      <i class="fa fa-linkedin-square"></i>
      <span class="is-hidden">LinkedIn</span>
    </a>
    <a href="https://plus.google.com/104794227710544002483/posts" title="Google+">
      <i class="fa fa-google-plus-square"></i>
      <span class="is-hidden">Google+</span>
    </a>
  </div>

</div>