@import "site-settings"
@import "mixins"
@import "breakpoint"

.post, .intro, .about-details
  max-width: 30em
  margin: 0 auto
  padding: 0 1em
  +breakpoint($medium-wide-width)
    max-width: 576px
  +breakpoint($wide-width)
    max-width: 720px

+breakpoint($medium-wide-width)
  html
    font-size: 75%

+breakpoint($wide-width)
  html
    font-size: 93.75%
  
.js
  +rem(padding-top, 300px)

.post h1
  +rem(font-size, 43px)
  +rem(line-height, 50px)
  +rem(margin-top, 50px)
  +rem(margin-bottom, 25px)
  font-family: adelle
  font-weight: 400
  font-style: normal
  color: #BB5400
  +breakpoint((min-width $medium-width) (min-height $small-height))
    +rem(font-size, 66px)
    +rem(line-height, 75px)
    +rem(margin-top, 120px)

.post h2
  +rem(font-size, 22px)
  +rem(line-height, 28px)
  +rem(margin, 40px 0px 20px)
  +rem(letter-spacing, 1px)
  text-transform: uppercase
  font-family: adelle, serif
  font-weight: 100
  font-style: normal

.post p
  text-indent: 0em
  margin-top: 0
  +rem(margin-bottom, 25px)
  font-family: adelle-sans, sans-serif
  font-weight: 400
  font-style: normal

.post-details > p:first-of-type
  text-indent: 0
  +rem(font-size, 20px)
  +rem(line-height, 30px)
  +rem(margin-bottom, 25px)
  font-family: adelle-sans, sans-serif
  font-weight: 400
  font-style: normal
  +breakpoint((min-width $medium-width) (min-height $small-height))
    +rem(line-height, 36px)
    +rem(margin-bottom, 15px)

.post blockquote
  +rem(margin-bottom, 25px)
  +rem(font-size, 20px)
  +rem(line-height, 25px)
  +rem(margin-left, 20px)
  +rem(margin-right, 20px)
  font-family: adelle, serif
  font-weight: 100
  font-style: italic

.post blockquote p
  font-size: 1em
  font-family: inherit
  font-weight: inherit
  font-style: inherit
  
.post p.meta
  font-family: adelle, serif
  color: #BCAFA5

