@import "compass/css3"
@import "site-settings"
@import "mixins"
@import "breakpoint"

.post, .intro, .about-details, .site-details, .blog-nav-pagination-summary, .archives, .subscribe-follow, .post-next-steps
  max-width: 30em
  margin: 0 auto
  padding: 0 1em

+breakpoint($medium-wide-width)
  html
    font-size: 75% // * 1.2

+breakpoint($wide-width)
  html
    font-size: 93.75% // * 1.5

.post .post-title
  +rem(font-size, 43px)
  +rem(line-height, 50px)
  +rem(margin-top, 50px)
  +rem(margin-bottom, 25px)
  font-family: $font-secondary
  font-weight: 400
  font-style: normal
  text-transform: none
  color: #BB5400

.post .post-title
  a
    text-decoration: none
  a:hover, a:active
    text-decoration: underline
  
.is-post .post .post-title
  +breakpoint((min-width $medium-width) (min-height $small-height))
    +rem(font-size, 66px)
    +rem(line-height, 75px)
    +rem(margin-top, 120px)

.is-top.is-not-touch.is-not-home
  .post, .blog-nav-pagination-summary, .archives, .subscribe-follow
    filter: blur(6px) // Blur it
    -webkit-filter: blur(6px) // Blur it

@media print
  .is-post .post .post-title
    +rem(font-size, 43px)
    +rem(line-height, 50px)
    +rem(margin-top, 50px)
  .is-post .post
    max-width: 70%
    margin: 0
    

.post h2
  +rem(font-size, 22px)
  +rem(line-height, 28px)
  +rem(margin, 40px 0px 20px)
  +rem(letter-spacing, 1px)
  text-transform: uppercase
  font-family: $font-secondary
  font-weight: 100
  font-style: normal

.post p
  text-indent: 0em
  margin-top: 0
  +rem(margin-bottom, 25px)
  font-family: $font-anchor
  font-weight: 400
  font-style: normal

.post-details > p:first-of-type
  text-indent: 0
  +rem(font-size, 20px)
  +rem(line-height, 28px)
  +rem(margin-bottom, 25px)
  font-family: $font-anchor
  font-weight: 400
  font-style: normal
  +breakpoint((min-width $medium-width) (min-height $small-height))
    +rem(line-height, 32px)
    +rem(margin-bottom, 15px)

.post blockquote
  +rem(margin-bottom, 25px)
  +rem(font-size, 20px)
  +rem(line-height, 25px)
  +rem(margin-left, 20px)
  +rem(margin-right, 20px)
  font-family: $font-secondary
  font-weight: 100
  font-style: italic

.post blockquote p
  font-size: 1em
  font-family: inherit
  font-weight: inherit
  font-style: inherit
  
.post p.meta
  font-family: $font-secondary
  color: #BCAFA5

.post img
  max-width: 100%
  display: block
  margin: 0 auto

.post-quote
  +rem(margin-top, 70px)
  
.post-quote blockquote
  margin-left: 0
  margin-right: 0

.post-quote-source p
  margin: 0
  
.post-quote-dash
  color: #BCAFA5

.post-quote .meta
  +rem(margin-top, 16px)

.post-meta-separator
  +rem(padding, 0 5px)
  
.post-permalink
  color: #BCAFA5
  text-decoration: none

.post-permalink-icon
  +rem(font-size, 14px)
  +rem(padding-left, 5px)
  
.post-permalink:hover
  color: #BB5400

.post .footnotes
  +rem(font-size, 14px)
  +rem(line-height, 20px)
  border-top: 1px solid #BCAFA5
  +rem(padding-top, 12px)
  +rem(margin-top, 40px)

.post .post-link-title, .is-post .post .post-link-title
  +rem(font-size, 28px)
  +rem(line-height, 32px)
  
.post-link-icon
  +rem(font-size, 16px)
  +rem(padding-left, 8px)
  +rem(padding-bottom, 3px)
  vertical-align: middle
  
.is-home .post
  +rem(margin-top, 70px)
  +rem(margin-bottom, 70px)

.post-next-steps
  color: #BCAFA5
  +rem(font-size, 12px)
  +rem(line-height, 16px)
  text-align: center
  .subscribe-follow-link
    margin: 0
    text-decoration: none
    color: inherit
    +transition-property(none)
    +rem(margin-bottom, 5px)
    &:hover, &:focus
      color: white
      background-color: #BB5400
      border-color: #BB5400
    &:active
      background-color: darken(#BB5400, 10%)
      border-color: darken(#BB5400, 10%)
  .blog-nav-pagination-summary-links
    margin: 0
    font-size: inherit
    line-height: inherit
    +rem(margin-bottom, 10px)

.post-continue-reading
  text-decoration: none
  
.post-continue-reading-link
  text-decoration: underline
  padding-right: 0.2em

@media print
  .reversefootnote
    display: none
  .post-next-steps
    display: none
  .is-post .share
    display: none
    
