/* line 6, ../../sass/modules/about.sass */
.js .about {
  position: absolute;
  height: 308px;
  height: 30.8rem;
  background: #bb5400;
  width: 100%;
  top: 0;
  left: 0;
  color: white;
  z-index: 2;
}

/* line 16, ../../sass/modules/about.sass */
.js .about a {
  color: inherit;
  text-decoration: underline;
}

/* line 20, ../../sass/modules/about.sass */
.js .about-details {
  opacity: 1;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

/* line 25, ../../sass/modules/about.sass */
.js .about-details {
  max-width: 30em;
  margin: 0 auto;
  opacity: 0;
}

/* line 30, ../../sass/modules/about.sass */
.is-top-gutter-shown .about-details {
  opacity: 1;
}

/* line 33, ../../sass/modules/about.sass */
.about-name {
  font-size: 35px;
  font-size: 3.5rem;
  line-height: 40px;
  line-height: 4rem;
  margin-top: 30px;
  margin-top: 3rem;
  margin-bottom: 15px;
  margin-bottom: 1.5rem;
  max-width: 10em;
  font-family: adelle;
  font-weight: 400;
  font-style: normal;
}
@media (min-width: 512px) {
  /* line 33, ../../sass/modules/about.sass */
  .about-name {
    font-size: 43px;
    font-size: 4.3rem;
    line-height: 50px;
    line-height: 5rem;
    margin-top: 30px;
    margin-top: 3rem;
  }
}

/* line 47, ../../sass/modules/about.sass */
.about-title {
  font-size: 22px;
  font-size: 2.2rem;
  line-height: 25px;
  line-height: 2.5rem;
  margin-top: -10px;
  margin-top: -1rem;
  margin-bottom: 25px;
  margin-bottom: 2.5rem;
  max-width: 10em;
  font-family: adelle-sans;
  font-weight: 400;
  font-style: normal;
  color: rgba(255, 255, 255, 0.7);
}
@media (min-width: 512px) {
  /* line 47, ../../sass/modules/about.sass */
  .about-title {
    font-size: 30px;
    font-size: 3rem;
    line-height: 32px;
    line-height: 3.2rem;
  }
}

/* line 61, ../../sass/modules/about.sass */
.about .fa {
  font-size: 25px;
  font-size: 2.5rem;
  padding-left: 10px;
  padding-left: 1rem;
}

/* line 65, ../../sass/modules/about.sass */
.about-separator {
  padding: 0 5px;
  padding: 0 0.5rem;
}

/* line 68, ../../sass/modules/about.sass */
.js .about-links {
  color: rgba(255, 255, 255, 0.7);
}

/* line 71, ../../sass/modules/about.sass */
.js .about-links a {
  text-decoration: none;
}

/* line 74, ../../sass/modules/about.sass */
.js .about-links a:hover {
  color: white;
}
