/* line 7, ../../sass/modules/about.sass */
.js .about {
  position: absolute;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 18px;
  line-height: 1.8rem;
  height: 308px;
  height: 30.8rem;
  background: #bb5400;
  width: 100%;
  top: 0;
  left: 0;
  color: white;
  z-index: 2;
  overflow: hidden;
}
@media (min-width: 512px) {
  /* line 7, ../../sass/modules/about.sass */
  .js .about {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 25px;
    line-height: 2.5rem;
  }
}

/* line 23, ../../sass/modules/about.sass */
.js .about a {
  color: inherit;
  text-decoration: underline;
}

/* line 27, ../../sass/modules/about.sass */
.js .about-details {
  opacity: 1;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

/* line 32, ../../sass/modules/about.sass */
.js .about-details {
  max-width: 30em;
  margin: 0 auto;
  opacity: 0;
}

/* line 37, ../../sass/modules/about.sass */
.is-home .about-details {
  opacity: 1;
}

/* line 40, ../../sass/modules/about.sass */
.is-not-home .about-details {
  opacity: 0;
}

/* line 43, ../../sass/modules/about.sass */
.is-top-gutter-shown .about-details {
  opacity: 1;
}

/* line 46, ../../sass/modules/about.sass */
.about-name {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 25px;
  line-height: 2.5rem;
  margin-top: 30px;
  margin-top: 3rem;
  margin-bottom: 15px;
  margin-bottom: 1.5rem;
  font-family: adelle, "Palatino Linotype", "Charcoal", "Georgia", serif;
  font-weight: 400;
  font-style: normal;
}
@media (min-width: 512px) {
  /* line 46, ../../sass/modules/about.sass */
  .about-name {
    font-size: 28px;
    font-size: 2.8rem;
    line-height: 35px;
    line-height: 3.5rem;
  }
}

/* line 59, ../../sass/modules/about.sass */
.js .about-links, .js .about-signature {
  overflow: hidden;
  *zoom: 1;
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 18px;
  line-height: 1.8rem;
}
@media (min-width: 512px) {
  /* line 59, ../../sass/modules/about.sass */
  .js .about-links, .js .about-signature {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 25px;
    line-height: 2.5rem;
  }
}

/* line 68, ../../sass/modules/about.sass */
.js .about-links {
  margin-top: -3px;
  margin-top: -0.3rem;
}

/* line 71, ../../sass/modules/about.sass */
.js .about-links-home {
  float: left;
  display: inline-block;
}
/* line 74, ../../sass/modules/about.sass */
.js .about-links-home .fa {
  padding-right: 2px;
  padding-right: 0.2rem;
}

/* line 77, ../../sass/modules/about.sass */
.js .about-signature-follow {
  margin: 0;
  white-space: nowrap;
  display: inline-block;
  margin-top: 5px;
  margin-top: 0.5rem;
}
@media (min-width: 512px) {
  /* line 77, ../../sass/modules/about.sass */
  .js .about-signature-follow {
    margin-top: 0;
  }
}

/* line 85, ../../sass/modules/about.sass */
.js .about-signature-name {
  padding-right: 10px;
  padding-right: 1rem;
}

/* line 88, ../../sass/modules/about.sass */
.js .about-signature {
  margin-top: -5px;
  margin-top: -0.5rem;
}
@media (min-width: 512px) {
  /* line 88, ../../sass/modules/about.sass */
  .js .about-signature {
    margin-top: 0;
  }
}

/* line 93, ../../sass/modules/about.sass */
.about-signature-follow .fa {
  font-size: 25px;
  font-size: 2.5rem;
  padding-right: 10px;
  padding-right: 1rem;
}

/* line 97, ../../sass/modules/about.sass */
.js .about-links a, .js .about-signature a {
  text-decoration: none;
}

/* line 100, ../../sass/modules/about.sass */
.js .about-links a:hover, .js .about-signature a:hover {
  color: white;
}

/* line 104, ../../sass/modules/about.sass */
.js .about .btn-default, .is-home .about .btn-default {
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0.7);
  position: relative;
  z-index: 10;
}
/* line 110, ../../sass/modules/about.sass */
.js .about .btn-default:hover, .js .about .btn-default:active, .js .about .btn-default:focus, .is-home .about .btn-default:hover, .is-home .about .btn-default:active, .is-home .about .btn-default:focus {
  color: white;
  border-color: white;
  background-color: rgba(255, 255, 255, 0.1);
  outline: none;
}
@media (min-width: 512px) {
  /* line 104, ../../sass/modules/about.sass */
  .js .about .btn-default, .is-home .about .btn-default {
    margin-top: -5px;
    margin-top: -0.5rem;
  }
}
