/* line 7, ../../sass/modules/about.sass */
.js .about {
  position: absolute;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 18px;
  line-height: 1.8rem;
  height: 308px;
  height: 30.8rem;
  background: #bb5400;
  width: 100%;
  top: 0;
  left: 0;
  color: white;
  z-index: 2;
  overflow: hidden;
}
@media (min-width: 512px) {
  /* line 7, ../../sass/modules/about.sass */
  .js .about {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 25px;
    line-height: 2.5rem;
  }
}

/* line 23, ../../sass/modules/about.sass */
.js {
  padding-top: 300px;
  padding-top: 30rem;
}

/* line 26, ../../sass/modules/about.sass */
.js .about a {
  color: inherit;
  text-decoration: underline;
}

/* line 30, ../../sass/modules/about.sass */
.js .about-details {
  opacity: 1;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

/* line 35, ../../sass/modules/about.sass */
.js .about-details {
  max-width: 30em;
  margin: 0 auto;
  opacity: 0;
}

/* line 40, ../../sass/modules/about.sass */
.is-home .about-details {
  opacity: 1;
}

/* line 43, ../../sass/modules/about.sass */
.is-not-home .about-details {
  opacity: 0;
}

/* line 46, ../../sass/modules/about.sass */
.is-top-gutter-shown .about-details {
  opacity: 1;
}

/* line 49, ../../sass/modules/about.sass */
.about-name {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 22px;
  line-height: 2.2rem;
  margin-top: 20px;
  margin-top: 2rem;
  margin-bottom: 15px;
  margin-bottom: 1.5rem;
  font-family: adelle, "Palatino Linotype", "Charcoal", "Georgia", serif;
  font-weight: 400;
  font-style: normal;
}
@media (min-width: 512px) {
  /* line 49, ../../sass/modules/about.sass */
  .about-name {
    font-size: 28px;
    font-size: 2.8rem;
    line-height: 35px;
    line-height: 3.5rem;
    margin-top: 30px;
    margin-top: 3rem;
  }
}

/* line 63, ../../sass/modules/about.sass */
.js .about-links, .js .about-signature {
  overflow: hidden;
  *zoom: 1;
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 18px;
  line-height: 1.8rem;
}
@media (min-width: 512px) {
  /* line 63, ../../sass/modules/about.sass */
  .js .about-links, .js .about-signature {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 25px;
    line-height: 2.5rem;
  }
}

/* line 72, ../../sass/modules/about.sass */
.js .about-links {
  margin-top: -3px;
  margin-top: -0.3rem;
}

/* line 75, ../../sass/modules/about.sass */
.js .about-links-home {
  float: left;
  display: inline-block;
}
/* line 78, ../../sass/modules/about.sass */
.js .about-links-home .fa {
  padding-right: 2px;
  padding-right: 0.2rem;
}

/* line 81, ../../sass/modules/about.sass */
.js .about-signature-follow {
  margin: 0;
  white-space: nowrap;
  display: inline-block;
  margin-top: 5px;
  margin-top: 0.5rem;
}
@media (min-width: 512px) {
  /* line 81, ../../sass/modules/about.sass */
  .js .about-signature-follow {
    margin-top: 0;
  }
}

/* line 89, ../../sass/modules/about.sass */
.js .about-signature-name {
  padding-right: 10px;
  padding-right: 1rem;
}

/* line 92, ../../sass/modules/about.sass */
.js .about-signature {
  margin-top: -3px;
  margin-top: -0.3rem;
}
@media (min-width: 512px) {
  /* line 92, ../../sass/modules/about.sass */
  .js .about-signature {
    padding-top: 5px;
    padding-top: 0.5rem;
    margin-top: -5px;
    margin-top: -0.5rem;
  }
}

/* line 98, ../../sass/modules/about.sass */
.about-signature-follow .fa {
  font-size: 25px;
  font-size: 2.5rem;
  padding-right: 10px;
  padding-right: 1rem;
}

/* line 102, ../../sass/modules/about.sass */
.js .about-links a, .js .about-signature a {
  text-decoration: none;
}

/* line 105, ../../sass/modules/about.sass */
.js .about-links a:hover, .js .about-signature a:hover {
  color: white;
}

/* line 109, ../../sass/modules/about.sass */
.js .about .btn-default, .is-home .about .btn-default {
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0.7);
  position: relative;
  z-index: 10;
  margin-top: 5px;
  margin-top: 0.5rem;
}
/* line 116, ../../sass/modules/about.sass */
.js .about .btn-default:hover, .js .about .btn-default:active, .js .about .btn-default:focus, .is-home .about .btn-default:hover, .is-home .about .btn-default:active, .is-home .about .btn-default:focus {
  color: white;
  border-color: white;
  background-color: rgba(255, 255, 255, 0.1);
  outline: none;
}
@media (min-width: 512px) {
  /* line 109, ../../sass/modules/about.sass */
  .js .about .btn-default, .is-home .about .btn-default {
    margin-top: -5px;
    margin-top: -0.5rem;
  }
}

/* line 124, ../../sass/modules/about.sass */
.subscribe-follow-link .fa {
  margin-left: -2px;
  margin-left: -0.2rem;
  margin-right: 2px;
  margin-right: 0.2rem;
}

@media print {
  /* line 129, ../../sass/modules/about.sass */
  .js.is-not-home {
    padding-top: 0;
  }

  /* line 131, ../../sass/modules/about.sass */
  .js.is-not-home .about {
    display: none;
  }
}
