/* line 6, ../../sass/modules/blog-nav.sass */
.blog-nav-container {
  height: 300px;
  height: 30rem;
}

/* line 9, ../../sass/modules/blog-nav.sass */
.blog-nav {
  opacity: 1;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  position: relative;
  height: 300px;
  height: 30rem;
  width: 100%;
}

/* line 17, ../../sass/modules/blog-nav.sass */
.js .blog-nav {
  opacity: 0;
}

/* line 20, ../../sass/modules/blog-nav.sass */
.is-not-top-gutter-shown .blog-nav {
  opacity: 1;
}

/* line 23, ../../sass/modules/blog-nav.sass */
.is-top .blog-nav {
  opacity: 1;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 30, ../../sass/modules/blog-nav.sass */
.blog-nav-previous, .blog-nav-next {
  position: absolute;
  bottom: 60px;
  bottom: 6rem;
  font-family: adelle;
  font-weight: 400;
  color: black;
  text-decoration: none;
  width: 25%;
  background: rgba(87, 55, 29, 0.4);
  padding: 20px;
  padding: 2rem;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  z-index: 3;
  font-size: 20px;
  font-size: 2rem;
  line-height: 24px;
  line-height: 2.4rem;
}

/* line 47, ../../sass/modules/blog-nav.sass */
.is-fits-blog-nav-large .blog-nav-previous, .is-fits-blog-nav-large .blog-nav-next {
  padding: 30px;
  padding: 3rem;
  bottom: 100px;
  bottom: 10rem;
  font-size: 25px;
  font-size: 2.5rem;
  line-height: 30px;
  line-height: 3rem;
}

/* line 53, ../../sass/modules/blog-nav.sass */
.blog-nav-previous:hover, .blog-nav-next:hover {
  background: rgba(87, 55, 29, 0.6);
  color: white;
}

/* line 57, ../../sass/modules/blog-nav.sass */
.blog-nav-previous:active, .blog-nav-next:active {
  -webkit-transition-property: none;
  -moz-transition-property: none;
  -o-transition-property: none;
  transition-property: none;
  background: rgba(87, 55, 29, 0.8);
}

/* line 61, ../../sass/modules/blog-nav.sass */
.is-top .blog-nav-previous, .is-top .blog-nav-next {
  display: none;
  color: white;
}

/* line 67, ../../sass/modules/blog-nav.sass */
.is-not-home.is-fits-blog-nav-simple.is-top .blog-nav-previous, .is-not-home.is-fits-blog-nav-simple.is-top .blog-nav-next {
  display: block;
  bottom: 15px;
  bottom: 1.5rem;
}
/* line 72, ../../sass/modules/blog-nav.sass */
.is-not-home.is-fits-blog-nav.is-top .blog-nav-previous, .is-not-home.is-fits-blog-nav.is-top .blog-nav-next {
  display: block;
  bottom: 50px;
  bottom: 5rem;
}
/* line 77, ../../sass/modules/blog-nav.sass */
.is-not-home.is-fits-blog-nav-large.is-top .blog-nav-previous, .is-not-home.is-fits-blog-nav-large.is-top .blog-nav-next {
  display: block;
  bottom: 80px;
  bottom: 8rem;
}

/* line 81, ../../sass/modules/blog-nav.sass */
.blog-nav-previous {
  left: 0;
}

/* line 84, ../../sass/modules/blog-nav.sass */
.blog-nav-next {
  right: 0;
  text-align: right;
}

/* line 88, ../../sass/modules/blog-nav.sass */
.blog-nav-label {
  font-family: adelle-sans;
  text-transform: uppercase;
  margin: 0;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 16px;
  line-height: 1.6rem;
}

/* line 95, ../../sass/modules/blog-nav.sass */
.is-fits-blog-nav-large .blog-nav-label {
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 20px;
  line-height: 2rem;
}

/* line 99, ../../sass/modules/blog-nav.sass */
.blog-nav-label .separator {
  display: none;
}

/* line 102, ../../sass/modules/blog-nav.sass */
.blog-nav-post-title {
  font-family: adelle;
  font-weight: 400;
  margin: 0;
  display: none;
}
@media (min-width: 512px) {
  /* line 102, ../../sass/modules/blog-nav.sass */
  .blog-nav-post-title {
    display: block;
  }
}

/* line 110, ../../sass/modules/blog-nav.sass */
.is-top .blog-nav-post-title {
  display: none;
}

@media (min-width: 512px) {
  /* line 113, ../../sass/modules/blog-nav.sass */
  .is-fits-blog-nav.is-top .blog-nav-post-title {
    display: block;
  }
}
