/* line 6, ../../sass/modules/blog-nav.sass */
.blog-nav-container {
  height: 300px;
  height: 30rem;
}

/* line 9, ../../sass/modules/blog-nav.sass */
.blog-nav {
  opacity: 1;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  position: relative;
  height: 300px;
  height: 30rem;
  width: 100%;
}

/* line 17, ../../sass/modules/blog-nav.sass */
.js .blog-nav {
  opacity: 0;
}

/* line 20, ../../sass/modules/blog-nav.sass */
.is-not-top-gutter-shown .blog-nav {
  opacity: 1;
}

/* line 23, ../../sass/modules/blog-nav.sass */
.is-top .blog-nav {
  opacity: 1;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 30, ../../sass/modules/blog-nav.sass */
.blog-nav-previous, .blog-nav-next {
  position: absolute;
  bottom: 60px;
  bottom: 6rem;
  font-family: adelle;
  font-weight: 400;
  font-size: 25px;
  font-size: 2.5rem;
  color: black;
  text-decoration: none;
  width: 25%;
  background: rgba(87, 55, 29, 0.4);
  padding: 20px;
  padding: 2rem;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  z-index: 3;
}
@media (min-width: 32em) and (min-height: 25em) {
  /* line 30, ../../sass/modules/blog-nav.sass */
  .blog-nav-previous, .blog-nav-next {
    padding: 30px;
    padding: 3rem;
    bottom: 100px;
    bottom: 10rem;
  }
}

/* line 48, ../../sass/modules/blog-nav.sass */
.blog-nav-previous:hover, .blog-nav-next:hover {
  background: rgba(87, 55, 29, 0.6);
  color: white;
}

/* line 52, ../../sass/modules/blog-nav.sass */
.blog-nav-previous:active, .blog-nav-next:active {
  -webkit-transition-property: none;
  -moz-transition-property: none;
  -o-transition-property: none;
  transition-property: none;
  background: rgba(87, 55, 29, 0.8);
}

/* line 56, ../../sass/modules/blog-nav.sass */
.is-top .blog-nav-previous, .is-top .blog-nav-next {
  display: none;
  color: white;
}
@media (min-height: 25em) {
  /* line 56, ../../sass/modules/blog-nav.sass */
  .is-top .blog-nav-previous, .is-top .blog-nav-next {
    display: block;
  }
}

/* line 62, ../../sass/modules/blog-nav.sass */
.blog-nav-previous {
  left: 0;
}

/* line 65, ../../sass/modules/blog-nav.sass */
.blog-nav-next {
  right: 0;
  text-align: right;
}

/* line 69, ../../sass/modules/blog-nav.sass */
.blog-nav-label {
  font-family: adelle-sans;
  text-transform: uppercase;
  margin: 0;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 20px;
  line-height: 2rem;
}

/* line 76, ../../sass/modules/blog-nav.sass */
.blog-nav-label .separator {
  display: none;
}

/* line 79, ../../sass/modules/blog-nav.sass */
.blog-nav-post-title {
  font-family: adelle;
  font-weight: 400;
  margin: 0;
  display: none;
}
@media (min-width: 32em) and (min-height: 25em) {
  /* line 79, ../../sass/modules/blog-nav.sass */
  .blog-nav-post-title {
    display: block;
  }
}
