/* line 7, ../../sass/modules/gallery.sass */
.gallery {
  padding: 0;
  margin: 0;
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 25px;
  margin-bottom: 2.5rem;
}

/* line 13, ../../sass/modules/gallery.sass */
.gallery li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 1%;
}

@media (min-width: 512px) {
  /* line 21, ../../sass/modules/gallery.sass */
  .gallery li {
    float: left;
    max-width: 49%;
    margin-right: 1%;
  }

  /* line 25, ../../sass/modules/gallery.sass */
  .gallery-enhanced li {
    max-width: 49.5%;
  }

  /* line 27, ../../sass/modules/gallery.sass */
  .gallery-enhanced li.gallery-last {
    margin-right: 0;
  }

  /* line 29, ../../sass/modules/gallery.sass */
  .gallery-2-3 .gallery-1of3 {
    max-width: 32.66667%;
    margin-right: 1%;
  }
}
