/* line 7, ../../sass/modules/intro.sass */
.js .intro {
  opacity: 1;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

/* line 12, ../../sass/modules/intro.sass */
.is-top-gutter-shown .intro {
  opacity: 0;
}

/* line 15, ../../sass/modules/intro.sass */
a.intro-more {
  text-decoration: none;
  color: inherit;
}
/* line 18, ../../sass/modules/intro.sass */
a.intro-more em {
  text-decoration: underline;
  font-style: normal;
}

/* line 22, ../../sass/modules/intro.sass */
a.intro-more:hover, a.intro-more:active {
  text-decoration: underline;
}

/* line 25, ../../sass/modules/intro.sass */
.intro-author {
  white-space: nowrap;
}
