/* line 7, ../../sass/modules/subscribe-follow.sass */
.subscribe-follow-email-address {
  background: none;
  border-style: solid;
  border-width: 1px;
  border-width: 0.1rem;
  border-color: #BCAFA5;
  font-family: adelle-sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
  padding: 3px 8px;
  padding: 0.3rem 0.8rem;
  width: 100%;
  box-sizing: border-box;
  display: block;
  margin-bottom: 5px;
  margin-bottom: 0.5rem;
  color: #BB5400;
}
/* line 41, ../../sass/_mixins.scss */
.subscribe-follow-email-address.placeholder {
  color: #BCAFA5;
}
/* line 42, ../../sass/_mixins.scss */
.subscribe-follow-email-address:-moz-placeholder {
  color: #BCAFA5;
}
/* line 43, ../../sass/_mixins.scss */
.subscribe-follow-email-address::-moz-placeholder {
  color: #BCAFA5;
}
/* line 44, ../../sass/_mixins.scss */
.subscribe-follow-email-address:-ms-input-placeholder {
  color: #BCAFA5;
}
/* line 45, ../../sass/_mixins.scss */
.subscribe-follow-email-address::-webkit-input-placeholder {
  color: #BCAFA5;
}
/* line 22, ../../sass/modules/subscribe-follow.sass */
.subscribe-follow-email-address:focus {
  outline-style: solid;
  outline-width: 2px;
  outline-width: 0.2rem;
  outline-color: #BB5400;
  border-color: #BB5400;
}
@media (min-width: 512px) {
  /* line 7, ../../sass/modules/subscribe-follow.sass */
  .subscribe-follow-email-address {
    font-size: 22px;
    font-size: 2.2rem;
    width: 70%;
    float: left;
    display: inline-block;
    margin-bottom: 0;
  }
}

/* line 34, ../../sass/modules/subscribe-follow.sass */
.subscribe-follow-email-submit {
  font-size: 16px;
  font-size: 1.6rem;
  padding: 8px 10px;
  padding: 0.8rem 1rem;
  text-transform: uppercase;
  background-color: #BB5400;
  border-color: #BB5400;
  color: white;
}
/* line 41, ../../sass/modules/subscribe-follow.sass */
.subscribe-follow-email-submit:hover, .subscribe-follow-email-submit:focus {
  background-color: #a24900;
  border-color: #a24900;
}
/* line 44, ../../sass/modules/subscribe-follow.sass */
.subscribe-follow-email-submit:active {
  background-color: #883d00;
  border-color: #883d00;
}
@media (min-width: 512px) {
  /* line 34, ../../sass/modules/subscribe-follow.sass */
  .subscribe-follow-email-submit {
    font-size: 18px;
    font-size: 1.8rem;
    padding: 10px 8px;
    padding: 1rem 0.8rem;
    width: 28%;
    box-sizing: border-box;
    float: right;
  }
}

@media (min-width: 512px) {
  /* line 54, ../../sass/modules/subscribe-follow.sass */
  .subscribe-follow-email-form {
    overflow: hidden;
    *zoom: 1;
  }
}

/* line 59, ../../sass/modules/subscribe-follow.sass */
.subscribe-follow-primary h2 {
  font-size: 22px;
  font-size: 2.2rem;
  line-height: 25px;
  line-height: 2.5rem;
  font-family: adelle, "Palatino Linotype", "Charcoal", "Georgia", serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  color: #BB5400;
}
@media (min-width: 512px) {
  /* line 59, ../../sass/modules/subscribe-follow.sass */
  .subscribe-follow-primary h2 {
    font-size: 35px;
    font-size: 3.5rem;
    line-height: 40px;
    line-height: 4rem;
    text-align: center;
  }
}

@media (min-width: 512px) {
  /* line 72, ../../sass/modules/subscribe-follow.sass */
  .subscribe-follow-secondary {
    max-width: 20em;
    margin: 0 auto;
  }
}
/* line 77, ../../sass/modules/subscribe-follow.sass */
.subscribe-follow-secondary h2 {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 25px;
  line-height: 2.5rem;
  margin: 40px 0px 20px;
  margin: 4rem 0px 2rem;
  letter-spacing: 1px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-family: adelle, "Palatino Linotype", "Charcoal", "Georgia", serif;
  font-weight: 100;
  font-style: normal;
}

/* line 87, ../../sass/modules/subscribe-follow.sass */
.subscribe-follow-rss {
  font-size: 12px;
  font-size: 1.2rem;
  display: inline-block;
  background-color: #eee;
  border: 1px solid #ddd;
  padding: 1px 6px;
  padding: 0.1rem 0.6rem;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 94, ../../sass/modules/subscribe-follow.sass */
.subscribe-follow-rss a, .subscribe-follow-rss a:hover, .subscribe-follow-rss a:active {
  color: #333;
  text-decoration: underline;
}

@media (min-width: 512px) {
  /* line 98, ../../sass/modules/subscribe-follow.sass */
  .subscribe-follow-why-subscribe {
    max-width: 25em;
    margin: 0 auto 2em;
  }
}

/* line 103, ../../sass/modules/subscribe-follow.sass */
.subscribe-follow-note {
  color: #907b6b;
  font-size: 15px;
  font-size: 1.5rem;
  margin-bottom: 2em;
}
