/* line 3, ../../sass/modules/to-top.sass */
.js .to-top {
  display: none;
  opacity: 0;
  z-index: 1;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

/* line 10, ../../sass/modules/to-top.sass */
.is-not-home.is-top .to-top {
  display: block;
  opacity: 1;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(87, 55, 29, 0.5);
}

/* line 20, ../../sass/modules/to-top.sass */
.is-top .to-top:hover, .is-top .to-top:active {
  opacity: 0.7;
}

/* line 23, ../../sass/modules/to-top.sass */
.js a.to-top {
  text-indent: -1000em;
}
