---
layout: home
title: "Browse the archives"
alt_lang_path: /tous-les-articles/
---

<div class="archives">
<ul>
{% for post in site.posts %}
  <li>
    <a href="{{ post.url }}">
      {% if post.layout == "quote" %}
        &ldquo;{{ post.title }}&rdquo;
      {% else %}
        {{ post.title }}
      {% endif %}
    </a>
  </li>
{% endfor %}
</ul>

<footer class="archives-next-steps">
  Want more articles like these?
  <a class="subscribe-follow-link btn btn-default" href="{{ site.baseurl}}/subscribe-follow/">
    <i class="fa fa-star-o"></i>
    Subscribe or follow
  </a>
</footer>

</div>
