---
layout: home
title: "Browse the archives"
---

<div class="archives">
{% assign year = "" %}
{% for post in site.posts %}
  {% capture new_year %}{{ post.date | date: "%Y" }}{% endcapture %}
  {% if new_year != year %}
    {% if year != "" %}
    </ul>
    {% endif%}
    {% assign year = new_year %}
    <h3>{{ year }}</h3>
    <ul>
  {% endif %}
  <li>
    <a href="{{ post.url }}">
      {% if post.layout == "quote" %}
        &ldquo;{{ post.title }}&rdquo;
      {% else %}
        {{ post.title }}
      {% endif %}
    </a>
  </li>
{% endfor %}

</ul>

</div>