/* line 6, ../../sass/layouts/post.sass */
.post, .intro, .about-details, .site-details, .blog-nav-pagination-summary, .archives, .subscribe-follow, .post-next-steps {
  max-width: 30em;
  margin: 0 auto;
  padding: 0 1em;
}

@media (min-width: 880px) {
  /* line 12, ../../sass/layouts/post.sass */
  html {
    font-size: 75%;
  }
}
@media (min-width: 1100px) {
  /* line 16, ../../sass/layouts/post.sass */
  html {
    font-size: 93.75%;
  }
}
/* line 19, ../../sass/layouts/post.sass */
.post .post-title {
  font-size: 43px;
  font-size: 4.3rem;
  line-height: 50px;
  line-height: 5rem;
  margin-top: 50px;
  margin-top: 5rem;
  margin-bottom: 25px;
  margin-bottom: 2.5rem;
  font-family: adelle, "Palatino Linotype", "Charcoal", "Georgia", serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  color: #bb5400;
}

/* line 31, ../../sass/layouts/post.sass */
.post .post-title a {
  text-decoration: none;
}
/* line 33, ../../sass/layouts/post.sass */
.post .post-title a:hover, .post .post-title a:active {
  text-decoration: underline;
}

@media (min-width: 512px) and (min-height: 25em) {
  /* line 36, ../../sass/layouts/post.sass */
  .is-post .post .post-title {
    font-size: 66px;
    font-size: 6.6rem;
    line-height: 75px;
    line-height: 7.5rem;
    margin-top: 120px;
    margin-top: 12rem;
  }
}

/* line 43, ../../sass/layouts/post.sass */
.is-top.is-not-touch.is-not-home .post, .is-top.is-not-touch.is-not-home .blog-nav-pagination-summary, .is-top.is-not-touch.is-not-home .archives, .is-top.is-not-touch.is-not-home .subscribe-follow {
  filter: blur(6px);
  -webkit-filter: blur(6px);
}

@media print {
  /* line 48, ../../sass/layouts/post.sass */
  .is-post .post .post-title {
    font-size: 43px;
    font-size: 4.3rem;
    line-height: 50px;
    line-height: 5rem;
    margin-top: 50px;
    margin-top: 5rem;
  }

  /* line 52, ../../sass/layouts/post.sass */
  .is-post .post {
    max-width: 70%;
    margin: 0;
  }
}
/* line 57, ../../sass/layouts/post.sass */
.post h2 {
  font-size: 22px;
  font-size: 2.2rem;
  line-height: 28px;
  line-height: 2.8rem;
  margin: 40px 0px 20px;
  margin: 4rem 0px 2rem;
  letter-spacing: 1px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-family: adelle, "Palatino Linotype", "Charcoal", "Georgia", serif;
  font-weight: 100;
  font-style: normal;
}

/* line 67, ../../sass/layouts/post.sass */
.post p {
  text-indent: 0em;
  margin-top: 0;
  margin-bottom: 25px;
  margin-bottom: 2.5rem;
  font-family: adelle-sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* line 75, ../../sass/layouts/post.sass */
.post-details > p:first-of-type {
  text-indent: 0;
  font-size: 20px;
  font-size: 2rem;
  line-height: 28px;
  line-height: 2.8rem;
  margin-bottom: 25px;
  margin-bottom: 2.5rem;
  font-family: adelle-sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}
@media (min-width: 512px) and (min-height: 25em) {
  /* line 75, ../../sass/layouts/post.sass */
  .post-details > p:first-of-type {
    line-height: 32px;
    line-height: 3.2rem;
    margin-bottom: 15px;
    margin-bottom: 1.5rem;
  }
}

/* line 87, ../../sass/layouts/post.sass */
.post blockquote {
  margin-bottom: 25px;
  margin-bottom: 2.5rem;
  font-size: 20px;
  font-size: 2rem;
  line-height: 25px;
  line-height: 2.5rem;
  margin-left: 20px;
  margin-left: 2rem;
  margin-right: 20px;
  margin-right: 2rem;
  font-family: adelle, "Palatino Linotype", "Charcoal", "Georgia", serif;
  font-weight: 100;
  font-style: italic;
}

/* line 97, ../../sass/layouts/post.sass */
.post blockquote p {
  font-size: 1em;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
}

/* line 103, ../../sass/layouts/post.sass */
.post p.meta {
  font-family: adelle, "Palatino Linotype", "Charcoal", "Georgia", serif;
  color: #bcafa5;
}

/* line 107, ../../sass/layouts/post.sass */
.post img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

/* line 112, ../../sass/layouts/post.sass */
.post-quote {
  margin-top: 70px;
  margin-top: 7rem;
}

/* line 115, ../../sass/layouts/post.sass */
.post-quote blockquote {
  margin-left: 0;
  margin-right: 0;
}

/* line 119, ../../sass/layouts/post.sass */
.post-quote-source p {
  margin: 0;
}

/* line 122, ../../sass/layouts/post.sass */
.post-quote-dash {
  color: #bcafa5;
}

/* line 125, ../../sass/layouts/post.sass */
.post-quote .meta {
  margin-top: 16px;
  margin-top: 1.6rem;
}

/* line 128, ../../sass/layouts/post.sass */
.post-meta-separator {
  padding: 0 5px;
  padding: 0 0.5rem;
}

/* line 131, ../../sass/layouts/post.sass */
.post-permalink {
  color: #bcafa5;
  text-decoration: none;
}

/* line 135, ../../sass/layouts/post.sass */
.post-permalink-icon {
  font-size: 14px;
  font-size: 1.4rem;
  padding-left: 5px;
  padding-left: 0.5rem;
}

/* line 139, ../../sass/layouts/post.sass */
.post-permalink:hover {
  color: #bb5400;
}

/* line 142, ../../sass/layouts/post.sass */
.post .footnotes {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 20px;
  line-height: 2rem;
  border-top: 1px solid #bcafa5;
  padding-top: 12px;
  padding-top: 1.2rem;
  margin-top: 40px;
  margin-top: 4rem;
}

/* line 149, ../../sass/layouts/post.sass */
.post .post-link-title, .is-post .post .post-link-title {
  font-size: 28px;
  font-size: 2.8rem;
  line-height: 32px;
  line-height: 3.2rem;
}

/* line 153, ../../sass/layouts/post.sass */
.post-link-icon {
  font-size: 16px;
  font-size: 1.6rem;
  padding-left: 8px;
  padding-left: 0.8rem;
  padding-bottom: 3px;
  padding-bottom: 0.3rem;
  vertical-align: middle;
}

/* line 159, ../../sass/layouts/post.sass */
.is-home .post {
  margin-top: 70px;
  margin-top: 7rem;
  margin-bottom: 70px;
  margin-bottom: 7rem;
}

/* line 163, ../../sass/layouts/post.sass */
.post-next-steps {
  color: #bcafa5;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 16px;
  line-height: 1.6rem;
  text-align: center;
}
/* line 168, ../../sass/layouts/post.sass */
.post-next-steps .subscribe-follow-link {
  margin: 0;
  text-decoration: none;
  color: inherit;
  -webkit-transition-property: none;
  -moz-transition-property: none;
  -o-transition-property: none;
  transition-property: none;
  margin-bottom: 5px;
  margin-bottom: 0.5rem;
}
/* line 174, ../../sass/layouts/post.sass */
.post-next-steps .subscribe-follow-link:hover, .post-next-steps .subscribe-follow-link:focus {
  color: white;
  background-color: #bb5400;
  border-color: #bb5400;
}
/* line 178, ../../sass/layouts/post.sass */
.post-next-steps .subscribe-follow-link:active {
  background-color: #883d00;
  border-color: #883d00;
}
/* line 181, ../../sass/layouts/post.sass */
.post-next-steps .blog-nav-pagination-summary-links {
  margin: 0;
  font-size: inherit;
  line-height: inherit;
  margin-bottom: 10px;
  margin-bottom: 1rem;
}

/* line 187, ../../sass/layouts/post.sass */
.post-continue-reading {
  text-decoration: none;
}

/* line 190, ../../sass/layouts/post.sass */
.post-continue-reading-link {
  text-decoration: underline;
  padding-right: 0.2em;
}

@media print {
  /* line 195, ../../sass/layouts/post.sass */
  .reversefootnote {
    display: none;
  }

  /* line 197, ../../sass/layouts/post.sass */
  .post-next-steps {
    display: none;
  }

  /* line 199, ../../sass/layouts/post.sass */
  .is-post .share {
    display: none;
  }
}
