/* line 4, ../../sass/layouts/post.sass */
.post, .intro, .about-details {
  max-width: 30em;
  margin: 0 auto;
  padding: 0 1em;
}

/* line 9, ../../sass/layouts/post.sass */
.js {
  padding-top: 300px;
  padding-top: 30rem;
}

/* line 12, ../../sass/layouts/post.sass */
.post h1 {
  font-size: 43px;
  font-size: 4.3rem;
  line-height: 50px;
  line-height: 5rem;
  margin-top: 50px;
  margin-top: 5rem;
  margin-bottom: 25px;
  margin-bottom: 2.5rem;
  font-family: adelle;
  font-weight: 400;
  font-style: normal;
  color: #bb5400;
}
@media only screen and (min-width: 32em) {
  /* line 12, ../../sass/layouts/post.sass */
  .post h1 {
    font-size: 66px;
    font-size: 6.6rem;
    line-height: 75px;
    line-height: 7.5rem;
    margin-top: 120px;
    margin-top: 12rem;
  }
}

/* line 26, ../../sass/layouts/post.sass */
.post h2 {
  font-size: 22px;
  font-size: 2.2rem;
  line-height: 28px;
  line-height: 2.8rem;
  margin: 40px 0px 20px;
  margin: 4rem 0px 2rem;
  letter-spacing: 1px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-family: adelle, serif;
  font-weight: 100;
  font-style: normal;
}

/* line 36, ../../sass/layouts/post.sass */
.post p {
  text-indent: 0em;
  margin-top: 0;
  margin-bottom: 25px;
  margin-bottom: 2.5rem;
  font-family: adelle-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* line 44, ../../sass/layouts/post.sass */
.post blockquote {
  margin-bottom: 25px;
  margin-bottom: 2.5rem;
  font-size: 20px;
  font-size: 2rem;
  line-height: 25px;
  line-height: 2.5rem;
  margin-left: 20px;
  margin-left: 2rem;
  margin-right: 20px;
  margin-right: 2rem;
  font-family: adelle, serif;
  font-weight: 100;
  font-style: italic;
}

/* line 54, ../../sass/layouts/post.sass */
.post blockquote p {
  font-size: 1em;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
}

/* line 60, ../../sass/layouts/post.sass */
.post p.meta {
  font-family: adelle, serif;
  color: #bcafa5;
}

/* line 64, ../../sass/layouts/post.sass */
.post-details > p:first-of-type {
  text-indent: 0;
  font-size: 20px;
  font-size: 2rem;
  line-height: 30px;
  line-height: 3rem;
  margin-bottom: 25px;
  margin-bottom: 2.5rem;
  font-family: adelle-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
}
@media only screen and (min-width: 32em) {
  /* line 64, ../../sass/layouts/post.sass */
  .post-details > p:first-of-type {
    line-height: 36px;
    line-height: 3.6rem;
    margin-bottom: 15px;
    margin-bottom: 1.5rem;
  }
}
