/* line 5, ../../sass/layouts/post.sass */
.post, .intro, .about-details, .copyright {
  max-width: 30em;
  margin: 0 auto;
  padding: 0 1em;
}

/* line 10, ../../sass/layouts/post.sass */
.copyright {
  margin-top: -30px;
  margin-top: -3rem;
}

@media (min-width: 880px) {
  /* line 14, ../../sass/layouts/post.sass */
  html {
    font-size: 75%;
  }
}
@media (min-width: 1100px) {
  /* line 18, ../../sass/layouts/post.sass */
  html {
    font-size: 93.75%;
  }
}
/* line 20, ../../sass/layouts/post.sass */
.js {
  padding-top: 300px;
  padding-top: 30rem;
}

/* line 23, ../../sass/layouts/post.sass */
.post-title {
  font-size: 43px;
  font-size: 4.3rem;
  line-height: 50px;
  line-height: 5rem;
  margin-top: 50px;
  margin-top: 5rem;
  margin-bottom: 25px;
  margin-bottom: 2.5rem;
  font-family: adelle;
  font-weight: 400;
  font-style: normal;
  color: #bb5400;
}
@media (min-width: 512px) and (min-height: 25em) {
  /* line 23, ../../sass/layouts/post.sass */
  .post-title {
    font-size: 66px;
    font-size: 6.6rem;
    line-height: 75px;
    line-height: 7.5rem;
    margin-top: 120px;
    margin-top: 12rem;
  }
}

/* line 37, ../../sass/layouts/post.sass */
.is-top.is-not-touch .post {
  filter: blur(6px);
  -webkit-filter: blur(6px);
}

/* line 41, ../../sass/layouts/post.sass */
.post h2 {
  font-size: 22px;
  font-size: 2.2rem;
  line-height: 28px;
  line-height: 2.8rem;
  margin: 40px 0px 20px;
  margin: 4rem 0px 2rem;
  letter-spacing: 1px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-family: adelle, serif;
  font-weight: 100;
  font-style: normal;
}

/* line 51, ../../sass/layouts/post.sass */
.post p {
  text-indent: 0em;
  margin-top: 0;
  margin-bottom: 25px;
  margin-bottom: 2.5rem;
  font-family: adelle-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* line 59, ../../sass/layouts/post.sass */
.post-details > p:first-of-type {
  text-indent: 0;
  font-size: 20px;
  font-size: 2rem;
  line-height: 30px;
  line-height: 3rem;
  margin-bottom: 25px;
  margin-bottom: 2.5rem;
  font-family: adelle-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
}
@media (min-width: 512px) and (min-height: 25em) {
  /* line 59, ../../sass/layouts/post.sass */
  .post-details > p:first-of-type {
    line-height: 36px;
    line-height: 3.6rem;
    margin-bottom: 15px;
    margin-bottom: 1.5rem;
  }
}

/* line 71, ../../sass/layouts/post.sass */
.post blockquote {
  margin-bottom: 25px;
  margin-bottom: 2.5rem;
  font-size: 20px;
  font-size: 2rem;
  line-height: 25px;
  line-height: 2.5rem;
  margin-left: 20px;
  margin-left: 2rem;
  margin-right: 20px;
  margin-right: 2rem;
  font-family: adelle, serif;
  font-weight: 100;
  font-style: italic;
}

/* line 81, ../../sass/layouts/post.sass */
.post blockquote p {
  font-size: 1em;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
}

/* line 87, ../../sass/layouts/post.sass */
.post p.meta {
  font-family: adelle, serif;
  color: #bcafa5;
}

/* line 91, ../../sass/layouts/post.sass */
.post img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

/* line 96, ../../sass/layouts/post.sass */
.post-quote {
  margin-top: 70px;
  margin-top: 7rem;
}

/* line 99, ../../sass/layouts/post.sass */
.post-quote blockquote {
  margin-left: 0;
  margin-right: 0;
}

/* line 103, ../../sass/layouts/post.sass */
.post-quote-source p {
  margin: 0;
}

/* line 106, ../../sass/layouts/post.sass */
.post-quote .meta {
  margin-top: 16px;
  margin-top: 1.6rem;
}

/* line 109, ../../sass/layouts/post.sass */
.post-meta-separator {
  padding: 0 5px;
  padding: 0 0.5rem;
}

/* line 112, ../../sass/layouts/post.sass */
.post-permalink {
  color: #bcafa5;
  text-decoration: none;
}

/* line 116, ../../sass/layouts/post.sass */
.post-permalink-icon {
  font-size: 14px;
  font-size: 1.4rem;
  padding-left: 5px;
  padding-left: 0.5rem;
}

/* line 120, ../../sass/layouts/post.sass */
.post-permalink:hover {
  color: #bb5400;
}

/* line 123, ../../sass/layouts/post.sass */
.post-link-title {
  font-size: 28px;
  font-size: 2.8rem;
  line-height: 32px;
  line-height: 3.2rem;
}

/* line 127, ../../sass/layouts/post.sass */
.post-link-icon {
  font-size: 16px;
  font-size: 1.6rem;
  padding-left: 8px;
  padding-left: 0.8rem;
  padding-bottom: 3px;
  padding-bottom: 0.3rem;
  vertical-align: middle;
}
