<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% if page.source %}Quote: {% endif %}{{ page.title }} - Pascal Laliberté</title>
        <meta name="viewport" content="width=device-width">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">

        <script type="text/javascript" src="//use.typekit.net/psp8ebh.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

        <link href="/a/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <link href="/a/css/prism.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link href="/a/css/print.css" media="print" rel="stylesheet" type="text/css" />
        <!--[if IE]>
          <link href="/a/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <![endif]-->
    </head>
    <body>

        <div class="site">

          {{ content }}

        </div>
        
        <script src="/a/bower_components/jquery/jquery.min.js"></script>
        <script src="/a/bower_components/jquery.smooth-scroll/jquery.smooth-scroll.min.js"></script>
        <script src="/a/js/main.js"></script>
        <script src="/a/js/prism.js"></script>
    </body>
</html>
