<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% if page.source %}Quote: {% endif %}{% if page.title %}{{ page.title }} - {% endif %}Pascal Laliberté</title>
        <meta name="viewport" content="width=device-width">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">

        <script type="text/javascript" src="//use.typekit.net/psp8ebh.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

        <link href="{{ site.baseurl}}/a/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <link href="{{ site.baseurl}}/a/css/prism.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <link href="{{ site.baseurl}}//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link href="{{ site.baseurl}}/a/css/print.css" media="print" rel="stylesheet" type="text/css" />
        <!--[if IE]>
          <link href="{{ site.baseurl}}/a/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <![endif]-->

        <link rel="shortcut icon" href="{{ site.baseurl}}/favicon.ico" type="image/x-icon">
        <link rel="icon" href="{{ site.baseurl}}/favicon.ico" type="image/x-icon">        
    </head>
    <body class="{{ page.key }}{% if page.key != "is-home" or paginator.page > 1 %} is-not-home {% endif %}">

        <div class="site">

          {{ content }}
          
        </div>
        
        <div class="site-details">
          &copy; {{ site.time | date: "%Y" }}
        </div>
        
        <script src="{{ site.baseurl}}/a/bower_components/jquery/jquery.min.js"></script>
        <script src="{{ site.baseurl}}/a/bower_components/jquery.smooth-scroll/jquery.smooth-scroll.min.js"></script>
        <script src="{{ site.baseurl}}/a/js/main.js"></script>
        <script src="{{ site.baseurl}}/a/js/prism.js"></script>
    </body>
</html>
