---
layout: default
key: is-post is-quote
---

{% include intro.html %}

<article class="post post-quote instapaper_body">

<div class="post-details post-quote-details">
  {{ content }}
  
  {% if page.source %}
  <div class="post-quote-source">
    <p class="post-quote-dash">&mdash;</p>
    {{ page.source | markdownify }}
  </div>
  {% endif %}
  
</div>

<p class="meta">
  <time datetime="{{ page.date | date_to_xmlschema }}" pubdate="pubdate">{{ page.date | date: "%B %e, %Y" }}</time>
  
  {% include permalink.html %}
  </p>
  
{% include share.html layout="quote" %}

</article>

{% include about.html %}

{% include to-top.html %}

{% include blog-nav.html %}

<footer class="post-next-steps">
  <a class="subscribe-follow-link btn btn-default" href="{{ site.baseurl}}/subscribe-follow/">
    <i class="fa fa-star-o"></i>
    Subscribe + Follow
  </a>
  {% include blog-nav-pagination-summary-links.html %}
</footer>